/* .main .small-nav{
	font-size:2em;
	margin-top: 0.5em;
	color: white;
} */

.main .sub-title{
	font-size:5rem;
	margin: 0.3em 0;
	color: white;
	font-family: Arial Rounded MT;
}

.main .left {
	width:30em;
	height:auto;
}

.left .accordion-container{	
	border: 1px solid #e3e3e3;
	background: white;
}

.left .accordion-container:first-child{
	border-radius: 1.2em 1.2em 0 0;
}

.left .accordion-container:last-child {
	border-radius: 0 0 1.2em 1.2em;
}


/* Open and close the style of the accordion panel */
.left .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size:1.5em;
}
 
 
/* When the mouse hovers over the accordion */
.accordion:hover {
  background-color: #ccc;
}
 
/* Accordion panel design style (hidden by default) */
.accordion .panel {
  padding: 0 18px;
  background-color: #0000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*  +、-  */
.accordion:after {
  content: '\002B';  /* Unicode 字符 + 号 */
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.left .active{
 	background-color: #ccc !important ;
}
.left .active:after { 
  content: "\2212";  /* Unicode 字符 - 号 */
}

.left .panel p {
	padding-left: 2em;
	font-size:1.2em;
	line-height: 1.2em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.left .left-header {	
	padding: 1em;
	width: 100%;
	font-size:1.5em;
	background-color: #eee;
	color:black;
}
.left .left-footer {	
	padding: 1em;
	transition: 0.4s;
	font-size:1.5em;
	background-color: #eee;
	color:#000;
}
.left .clear {
	
}
.left .refine-search{
	
}
.left span:hover {
	color: #0062ff;
	cursor: pointer;
}

/*end left*/


.main .right {
	height:auto;
	margin-left: .8em;
	
	color: #000;
}

.right .list-header {
	display:flex;
	width: 100%;
	height: 5em;
	justify-content: flex-end;
	align-items: center;
}

.list-header .sort-filter{
	align-self: center;
	flex-grow:1
}

.sort-filter select {
	width: 15em;
	height:3em;
	border-radius: 1em ;
	padding: 0.5em;
	font-size:1.5em;
}
.sort-filter select:focus {
	outline:0em;
}
.sort-filter select option {
	font-size:1.2em;
	margin: 0.8em;
}

.list-header .list-type-single{	
		font-size:1.2em;
		margin: 0.8em;
}
.list-header .list-type-double{	
		font-size:1.2em;
		margin: 0.8em;
}

.list-type-single-active,.list-type-single:active,.list-type-double-active,.list-type-double:active,.type-selector-active{
	background-color: #00aaff;	border-radius: 0.1em;
}

.list-header .list-type-single::before{	
	content:"";
	background-image:url("../img/list-type-single.svg");
	width:2em;
	height:2em;
	display: inline-block;
	background-size:contain;
}

.list-header .list-type-double::before{	
	content:"";
	background-image:url("../img/list-type-double.svg");
	width:2em;
	height:2em;
	display: inline-block;
	background-size:contain;
}



/* list single content */

.right .pager-container {	
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1em;
	color: white;
}
.right .pager {
	display:inline-flex;
	flex-direction: row;
	width:auto;
	height:3em;
	border:1px solid #dfdfdf;
	font-size:1.2em;
	text-align: center;
	align-self: center;
	justify-content: center;
	align-items: center;
	border: 1px solid #dfdfdf;
}
.right .pager span {
	width:2em;
	height:2em;
	line-height: 2em;
	border-width:0 0 0 1px;
	border-style: solid;
	border-color: #dfdfdf;
	
}
.right .pager span:active,.span-activie{
	background-color: #00aaff;
}
.right .pager span:first-child{
	border-width:0 0 0 0;
}

.list-single-content-item-container{
	
}
.list-single-content-item{
	background-color: white;
	border-radius:1.2em ;
	width: 100%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.5em;
}
.left-img-big{
	border-radius:1.2em ;
	width:28em;
	height:15em;
	margin-right:1em;
}
.list-single-content-item .list-single-content-right-item {
	padding: 20px 0;
	padding-right: 10px;
}
.list-single-content-item .car-name{
	font-size: 2.2em;
	font-weight: 700;
}
.list-single-content-item .date{
	margin-top:0.2em;
	margin-bottom: 0.2em;
}
.list-single-content-item .label{
	height:1.8em;
	width:auto;
	background-color: #00aaff;
	padding: 0.3em 0.2em 0.3em 0.2em;
	margin-bottom: 0.2em;
}
.list-single-content-item .price {
	flex-grow: 1;
	font-size: 2.2em;
	color:#00aaff;
	text-align: right;
	margin-top: -0.6em;
}
.button-container{
	justify-content: flex-end;
	margin-top: 10px;
	color:#00aaff;
}

.button-container .contact {
	width: 10em;
	height: 3em;
	border: 0;
	outline:none;
	background-color: #e2e2e2; 
	margin-right: 1em;
	border-radius: 1em;
	color: #0062ff;
	font-weight: bold;
	background-image: linear-gradient(
        180deg, #ffffff 0%,#b1b1b1 100%
        );
    box-shadow:inset 0px 0px 10px 2px rgb(181, 181, 181);
}

.button-container .contact:hover {
	color: white; 
    background: #0077FF;
    box-shadow:none;
}


.button-container .view-detail {
	width: 10em;
	height: 3em;
	border: 0;
	background-color: #55aaff; 
	margin-right: 1em;
	border-radius: 1em;
	color: white;
	font-weight: bold;
	background-image: linear-gradient(
        180deg, #0078FF 0%,#69AEFA 100%
        );
    box-shadow:inset 0px 0px 10px 2px rgb(0, 123, 255);
}

.button-container .view-detail:hover {
	color: #0077FF; 
    background: white;
    box-shadow:none;
	border: 1px solid #0077FF;
}



.contact-menu-model-box{
	width: 100%;
	height:100%;
	z-index: 1500;
}
.contact-menu-model-box .contact-menu{	
	position:fixed;
	left:50%;
	top:50%;
	margin:-25em 0 0 -25em;
	width: 50em;
	height: 50em;
	z-index: 1000;
	background-color:gray;
}

.list-double-content-item-container{
	flex-wrap: wrap;
}

.list-double-content-item-container .list-double-content-item{
	width: 28em;
	height: 39em;
	background-color: #fff;
	margin: 1em;
	border-radius: 1.2em;
}
.list-double-content-item .double-text-box{
	padding: 0.3em ;
}
.left-img-small{
	border-radius:1.2em ;
	width:28em;
	height:25em;
	margin-right:1em;
}

.list-double-content-item .car-name{
	font-size: 2.2em;
	font-weight: 700;
}
.list-double-content-item .date{
	margin-top:0.2em;
	margin-bottom: 0.2em;
}
.list-double-content-item .label{
	height:1.8em;
	width:auto;
	background-color: #00aaff;
	padding: 0 2em;
	margin-bottom: 0.2em;
}
.list-double-content-item .price {
	flex-grow: 1;
	font-size: 2.2em;
	color:#00aaff;
	text-align: right;
	margin-top: -0.6em;
}
.list-double-content-item .button-container{
	justify-content: flex-end;
	color:#00aaff;
}

.list-double-content-item .contact {
	width: 7em;
	height: 3em;
	border: 0;
	outline:none;
	background-color: #e2e2e2; 
	margin-right: 1em;
	
}
.list-double-content-item .contact:hover {
}

.list-double-content-item .view-detail {
	width: 7em;
	height: 3em;
	border: 0;
	background-color: #55aaff; 
	margin-right: 1em;
}
.list-double-content-item .view-detail {
	background-color: #4993dd; 
}

/* some small widget*/
.remove-all {
	font-size:2rem;
	margin-bottom: .3em;
}
.remove-all::before{	
	content:"";
	background-image:url("../img/delete-icon.svg");
	width:1em;
	height:1em;
	margin-left: .2em;
	margin-right: .2em;
	
	display: inline-block;
	background-size:contain;
}

.remove-item{	
	position: relative;
	margin: .6em;
	width:2em;
	height:2em;
}

.list-double-content-item-container .remove-item{
	position: relative;
	margin-left: 6em;
	width:1.2em;
	height:1.2em;
}

